﻿@model IEnumerable<WebApplication1.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScholarNo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScholarNo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.ScholarNo  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.ScholarNo  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.ScholarNo })
        </td>
    </tr>
}

</table>
